@import url("https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Ibarra Real Nova', serif;
  background-color: #e6ecdd;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: #262626;
}

.menu-btn {
  display: block;
}

.menu-btn:hover {
  opacity: 0.5;
}

header {
  display: -ms-grid;
  display: grid;
  padding: 2rem 0;
  margin: 2rem auto;
  width: 90%;
  margin: 0 auto;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Archivo Narrow';
}

header .logo div {
  padding: 0.5rem 0.8rem;
  border: 10px solid rgba(231, 119, 119, 0.6);
  -webkit-box-shadow: -0.5rem 0.5rem 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: -0.5rem 0.5rem 0 0 rgba(0, 0, 0, 0.2);
}

header .logo div h2 {
  font-size: 4rem;
  border-radius: 10px;
  color: blue;
  background-color: aquamarine;
}

header nav.main-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1400;
  background-color: rgba(161, 95, 134, 0.75);
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 14%;
}

header nav.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav.main-menu ul li {
  padding: 1.8rem 1rem;
}

header nav.main-menu ul li ul {
  border: #ccc 1px solid;
  position: absolute;
  z-index: 99;
  left: 25%;
  top: 100%;
  min-width: 50%;
  background-color: rgba(161, 95, 134, 0.75);
  display: none;
}

header nav.main-menu ul li ul li {
  border-bottom: #ccc 1px solid;
  padding: 0.5rem;
}

header nav.main-menu ul li ul li:last-child {
  border-bottom: none;
}

header nav.main-menu ul li ul a {
  font-size: 1rem;
}

header nav.main-menu ul li a {
  font-size: 2rem;
  padding: 2px;
}

header nav.main-menu ul li a:hover {
  border-radius: 5px;
  border-bottom: 4px solid #262626;
  background-color: rgba(218, 64, 172, 0.904);
  border: 0.2px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -0.3rem 0.3rem 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: -0.3rem 0.3rem 0 0 rgba(0, 0, 0, 0.2);
}

header nav.main-menu ul li:hover > ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
  min-width: 30rem;
  width: 90%;
  margin: 0 auto;
}

section.articles article {
  background-color: #eed1d1;
  border: 10px solid rgba(231, 119, 119, 0.6);
  -webkit-box-shadow: -0.5rem 0.5rem 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: -0.5rem 0.5rem 0 0 rgba(0, 0, 0, 0.2);
}

section.articles article img {
  width: 100%;
}

section.articles article .info p {
  margin: 1rem 0;
}

section.articles article .info a {
  font-size: 1.5rem;
  padding: 2px 2px 0 2px;
  border-radius: 2px;
  background-color: bisque;
}

section.articles article .info a:hover {
  border-radius: 5px;
  border-bottom: 2px solid #262626;
  background-color: rgba(235, 134, 205, 0.904);
  border: 0.2px solid rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -0.3rem 0.3rem 0 0 rgba(0, 0, 0, 0.2);
          box-shadow: -0.3rem 0.3rem 0 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  header {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
  }
  header .logo {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}
/*# sourceMappingURL=style.css.map */